body{
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.hidden-head{
    display: none;
}
.head-container{
    height: 80px;
    border-bottom: 1px solid #EBEBEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.logo{
    height: 33px;
    margin-left: 38px;
}
.search-box{
    display: flex;
    border: 2px solid #E8E8E8;
    width: 370px;
    height: 45px;
    border-radius: 50px;
    justify-content: center;
    gap: 24px;
    align-items: center;
    margin-left: 150px;
    padding: 0 4px 0 20px;
}
.search-elements{
    font-size: 16px;
    font-weight: 400;
    border-right: 1px solid #d1caca;
    padding: 2px 13px 2px 0;
}
.search-add{
    color: #747474;
    font-size: 16px;
}
.bi-search{
    background-color: #f53054;
    color: white;
    padding: 9px;
    border-radius: 50px;
    min-height: 13px;
    min-width: 13px;
}
.vl{
    width: 1px;
    border: 1px solid black;
}
.nav{
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.home{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
    margin-right: 25px;
}
.bi-globe{
    margin-right: 15px;
}
.accounts-nav{
    display: flex;
    border: 2px solid #E8E8E8;
    border-radius: 50px;
    justify-content: center;
    width: 70px;
    padding: 7px 3px;
    margin-right: 43px;
}
.bi-list{
    flex: 1;
    margin-top: 2px;
}
.bi-person-circle{
    flex: 1;
    color: #717171;
}
.categories{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-bottom: 1px solid #EBEBEB;
    position: sticky;
    top: 80px;
    background-color: white;
    z-index:5;
    height: 75px;
}
.icons img{
    margin-top: 10px;
    height: 26px;
    width:26px;
}
.icons{
    display: flex;
    justify-content: center;
}
.ic label{
    font-size: 14px;
    color: #454f55;
    margin-top: 4px;
    width: 80px;
    text-align: center;
}
.icons{
    flex: 12;
    display: flex;
    justify-content: space-between;
}
.ic{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-side{
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}
.more{
    flex: 1;
    width: 10px;
    align-self: center;
    border: 1px solid #cec2c2;
    border-radius: 50%;
    padding: 6px;
    margin-right: -5px;
}
.div-filter{
    display: flex;
    flex: 12;
    justify-content: center;
    align-items: center;
    width: 10px;
}
.filter-img{
    height: 25px;
    width: 20px;
}
.filter{
    font-size: 13px;
    font-weight: bold;
}
.bord{
    display: flex;
    width: 85px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #cec2c2;
    border-radius: 11px;
    padding: 2px;
    margin-left: -26px;
}
.total-price{
    display: flex;
    justify-content: space-around;
    border: 1px solid #cec2c2;
    margin: 20px auto 0 auto;
    height: 60px;
    max-width: 600px;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 20px;
}
h4{
    margin-left: 10px;
}
.total-price p{
    border-left: 1px solid #cec2c2;
    color: #695f5f;
    height: 20px;
    padding-left: 20px;
    margin-right: 80px;
}
.total-price img{
    width: 60px;
    height: 65px;
}
.card img{
    width: 290px;
    height: 290px;
    border-radius: 10px;
}
.image-box{
    position: relative;
}
.bi-heart-fill{
    position: absolute;
    top: 20px;
    right: 16px;
    color: #202325;
    opacity: 75%;
}
.card{
    width: 290px;
    height: 430px;
    /* border: 1px solid black; */
}
.tit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}
.title{
    font-weight: 500;
}
.ratings{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    font-weight: 400;
}
.desc{
    margin-top: -8px;
    color: #717171;
}
.price{
    margin-top: -3px;
    font-weight: 400;
}
span{
    font-weight: 500;
}
.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 30px;
    gap: 13px;
}
.footer{
    border-top: 1px solid #d1cbcb;
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px 0 40px;
    height: 50px;
    position: sticky;
    bottom: 0;
    background-color: white;
}
.left-side{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
.left-side a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 380;
}
.right-side{
    margin-top: 6px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    font-size: 15px;
    font-weight: 500;
}
.map{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #222222;
    border-radius: 50px;
    width: 130px;
    color: white;
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%,50%);
}
.bi-map-fill{
    color: white;
}
.image-box:hover{
    cursor: pointer;
    transform: scale(1.04);
    transition-duration: .3s;
}
@media(max-width : 1009px){
    .search-box{
        margin: 0px;
    }
}
@media(max-width : 993px){
    .search-box{
        margin: 0px;
    }
    .categories{
        height: 89px;
    }
    .ic label{
        width: 80px;
        text-align: center;
    }
    .icons {
        overflow-x: scroll;
    }
} 
@media (max-width : 970px) {
    .search-box{
        margin: 0px;
    }
    .card,.image-box img{
        width: 275px;
    }
}
@media (max-width : 955px) {
    .search-box{
        margin: 0px;
    }
    .card,.image-box img{
        width: 275px;
    }
}
@media (max-width : 925px) {
    .search-box{
        margin: 0px;
    }
    .card,.image-box img{
        width: 260px;
    }
}
@media (max-width : 910px) {
    .search-box{
        margin: 0px;
    }
    .card,.image-box img{
        width: 260px;
    }
}@media (max-width : 880px) {
    .search-box{
        margin: 0px;
    }
    .card{
        width: 240px;
    }
    .image-box img{
        width: 240px;
        height: 275px;
    }
}
@media (max-width : 871px) {
    .search-box{
        margin: 0px;
    }
    .card{
        width: 240px;
    }
    .image-box img{
        width: 240px;
        height: 275px;
    }
}
@media (max-width : 860px) {
    .logo{
        margin-left: 10px;
    }
    .search-box{
        display: flex;
        border: 2px solid #E8E8E8;
        width: 40%;
        height: 45px;
        border-radius: 50px;
        justify-content: center;
        gap: 24px;
        align-items: center;
        padding: 0 4px 0 10px;
    }
    .search-elements{
        font-size: 16px;
        border-right: 1px solid #d1caca;
        padding: 2px 13px 2px 0;
        text-align: center;
    }
    .search-add{
        color: #747474;
        font-size: 16px;
        text-align: center;
    }
    .home{
        margin-right: 25px;
    }
    .accounts-nav{
        margin-right: 0px;
    }
}
@media (max-width : 866px) {
    .search-box{
        margin: 0px;
    }
    .content{
        margin: 0 auto 0 auto;
        gap: 13px;
    }
    .card{
        width: 250px;
    }
    .image-box img{
        width: 250px;
        height: 270px;
    }
}
@media (max-width : 752px) {
    .head-container{
        display: none;
    }
    
    .hide-logo{
        height: 33px;
        margin-right: 8px;
    }
    .hidden-head{
        height: 80px;
        border-bottom: 1px solid #EBEBEB;
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
        width: 100%;
    }
    .hide-where{
        font-size: 15px;
    }
    .hide-under{
        font-size: 13px;
    }
    
    .hide-search{
        display: flex;
        justify-content: start;
        align-items: center;
        width: 70%;
        border: 2px solid #E8E8E8;
        height: 45px;
        border-radius: 50px;
    }
    .hide-search .bi-search{
        flex: 1;
        max-height: 13px;
        margin-left: 5px;
        max-width: 13px;
    }
    .hide-contents{
        margin-left: 5px;
        line-height: .1;
        flex: 6;
    }
    .hide-filter{
        flex: 1;
        max-width: 23px;
        padding: 3px;
        border: 2px solid #d8d1d1;
        border-radius: 50%;
        display: block;
        margin-right: 5px;
    }
    .right-side{
        display: none;
    }
    .footer{
        display: none;
    }
}
@media (max-width : 750px) {
    
}
